.btn {
    background-color: #58fff5;
    border-radius: 8px;
    border: none;
    color: var(--black);
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    padding: .5em 1em;
    transition: background-color, transform 0.3s ease;
    white-space: nowrap;
}

.btn:hover {
    background-color: #81fff7;
    filter: drop-shadow(0 0 5px var(--blue));
    transform: scale(1.1);
}

.btn:active {
    background-color: #00a69b;
}

@media screen and (min-width: 768px) {
    .btn {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1000px) {
    .btn {
        font-size: 1.3em;
    }
}