.sticky_note_container {
  margin: 0 auto;
  max-width: 400px;
  position: relative;
}

.sticky_note_base {
  width: 100%;
}

.sticky_icon {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
}

.sticky_note_container h4 {
  font-size: 2.3rem;
  font-weight: bold;
  left: 50%;
  line-height: 1.3;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}

.links_container a {
  font-size: 1.2rem;
  transition: transform 0.2s ease;
}

.links_container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  left: 50%;
  max-width: 300px;
  position: absolute;
  top: 70%;
  transform: translate(-50%);
}

.sticky_note_container h4,
.links_container a {
  color: var(--mediumGrey);
  font-family: "Gloria Hallelujah", cursive;
}

.links_container a:hover {
  color: var(--purple);
  transform: scale(1.2);
}

@media screen and (min-width: 750px) {
  .sticky_note_container h4 {
    font-size: 1.75rem;
  }
  .links_container a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 950px) {
  .sticky_note_container h4 {
    font-size: 2rem;
  }
  .links_container a {
    font-size: 1rem;
  }
}