.hero {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 8rem;
    justify-content: center;
    align-items: center;
}

.hero_title {
    text-align: center;
    z-index: 1;
}

.hero_title h2 {
    font-size: 3.6rem;
    font-weight: 500;
}

.hero_title p {
    color: var(--grey);
    font-size: 1.2rem;
}

.hero_image {
    overflow: hidden;
}

.hero_image img {
    transform: scale(1.5);
    width: 100%;
}

@media screen and (max-width: 360px) {
    .hero_title h2 {
        line-height: .8;
        margin-top: 1rem;
    }
}

@media screen and (min-width: 750px) {
    .hero {
        grid-template-columns: repeat(5, 1fr);
    }
    .hero_title {
        grid-column: 1/3;
        position: relative;
        right: -15%;
    }
    .hero_title h2 {
        line-height: .8;
    }
    .hero_image {
        clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 100%);
        grid-column: 3/6;
    }
}

@media screen and (min-width: 1000px) {
    .hero_title {
        
    }
    .hero_title h2 {
        font-size: 4rem;
    }
    .hero_title p {
        font-size: 1.6rem;
    }
}