.media_container {
    /* width: 100%; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 6rem;
}

@media screen and (min-width: 850px) {
    .media_container {
        grid-template-columns: repeat(2, 1fr);
    }
}