.footer {
    /* background-color: rgb(186, 238, 43); */
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    opacity: .5;
    padding: 2rem;
    position: sticky;
}

.copyright {
    /* opacity: .5; */
}

.footer_icons {
    display: flex;
    gap: 1rem;
}

.footer_icon {
    cursor: pointer;
    transition: transform 0.1s ease;
}

.footer_icon:hover {
    transform: scale(1.2);
}