.note_grid {
  color: var(--mediumGrey);
  display: flex;
  flex-wrap: wrap;
}

.sticky_note_container {
  color: var(--mediumGrey);
  position: relative;
  max-width: 300px;
}

.sticky_note_container img {
  width: 100%;
}

.sticky_note_container h4 {
  color: inherit;
  font-family: "Gloria Hallelujah", cursive;
  font-size: 2.3rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

/* .sticky_note_container:nth-child(2n) img,
.sticky_note_container:nth-child(2n) h4 {
    transform: rotate(8deg);
}

.sticky_note_container:nth-child(2n) h4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(8deg);
} */
