:root {
    --yellow: #e7ff89;
    --blue: #58fff5;
    --pink: #d65dd9;
    --purple: #c955ff;
    --lightGrey: #def0f4;
    --grey: #9b9b9b;
    --mediumGrey: #6c6c6c;
    --darkGrey: #2a2a2a;
    --black: #121212;
}

.small {
    font-size: 1.1rem;
}

.medium {
    font-size: 1.5rem;
}

.large {
    font-size: 2rem;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
