:root {
  --gold: #ffce3b;
  --yellow: #e7ff89;
  --blue: #58fff5;
  --darkBlue: #008290;
  --pink: #d65dd9;
  --purple: #c955ff;
  --lightGrey: #def0f4;
  --grey: #9b9b9b;
  --mediumGrey: #6c6c6c;
  --darkGrey: #2a2a2a;
  --black: #161616;
  /* --black: #121212; */
}

* {
  box-sizing: border-box;
  color: white;
  font-family: "Saira Semi Condensed", sans-serif;
  font-weight: 300;
  letter-spacing: .8px;
  margin: 0;
}

#root {
  /* height: 100vh; */
}

html,
body {
  background-color: var(--black);
}

a {
  text-decoration: none;
}