.image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.image {
    border-radius: 100%;
    display: block;
    max-width: 300px;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .image {
        width: 75%;
    }
}